* {
  padding: 0;
  margin: 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto", "Ubuntu",
    sans-serif;
}

.main {
  position: relative;
  height: 100vh;
  background-image: url("assets/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(2200px, 100vw);
}

::-webkit-scrollbar {
  height: 12px; /* Minimum height */
  background: black; /* Black background */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: gray; /* Gray thumb */
  border-radius: 6px; /* Circular border radius */
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
}

body {
  background-color: black;
}
.main .box {
  top: 0;
  position: absolute;
  opacity: 0.7;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.btn-red {
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
}
nav {
  display: flex;
  max-width: 75vw;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 82px;
}
nav div {
  position: relative;
  z-index: 1;
}
nav div img {
  position: relative;
  transform: translate(27px, 1px);
}
nav .logo img {
  width: 144px;
  position: relative;
  z-index: 1;
}
nav div button {
  padding: 6px 17px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
}

nav div select {
  padding: 5px 23px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.279);
  color: white;
  border: 1px solid gray;
}

nav div button:hover {
  cursor: pointer;
  background-color: rgb(153, 22, 29);
  color: rgba(255, 255, 255, 0.7);
  transition-duration: 400ms;
}

.text {
  /* display: flex;
    flex-direction: column; */
  position: relative;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  align-items: center;
  color: white;
  width: 80vw;
  margin: auto;
  height: 80vh;
}
.text .heading {
  max-width: 53vw;
  margin: auto;
  text-align: center;
  font-size: 56px;
  font-weight: 800;
  padding-bottom: 11px;
}
.text .sub-heading {
  max-width: 56vw;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 36px;
}
.caption {
  max-width: 56vw;
  margin: auto;
  text-align: center;
  padding-bottom: 18px;
  color: white;
}
.started {
  max-width: 45vw;
  margin: auto;
  text-align: center;
  display: flex;
  gap: 8px;
}
.email {
  margin: auto;
  width: 32vw;
  height: 35px;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  font-size: medium;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.306);
  /* opacity: 0.4; */
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.495);
}

.get-started {
  width: 184px;
  height: 56px;
  padding: 0px 14px;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  text-wrap-mode: nowrap;
}
.get-started:hover {
  background-color: rgb(153, 22, 29);
  transition-duration: 400ms;
}

/* Media query for responsiveness in phone */

.seperator {
  content: "";
  position: relative;
  /* margin-top: -.25rem; */
  border-radius: inherit;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
  width: 100%;
  height: 5px;
  margin: auto;
}

.section {
  display: flex;
  height: 47px;
  width: 74vw;
  color: white;
  font-size: 23px;
  font-weight: 600;
  margin: auto;
  padding: 40px 0px 0px 0px;
}

@media screen and (max-width: 1260px) {
  .section {
    width: 86vw;
  }
}

.country-span {
  display: flex;
  width: 74vw;
  height: 50px;
  margin: auto;
  gap: 20px;
}

.trending-span {
  width: 90px;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.trending-span #country {
  height: 36px;
  background-color: rgba(40, 40, 40, 0.541);
  padding: 0px 10px;
}

.trending-span #movies {
  background-color: rgba(40, 40, 40, 0.541);
  height: 36px;
  padding: 0px 10px;
  width: 115px;
}

.top-movies {
  display: flex;
  flex-direction: row;
  width: 70vw;
  margin: auto;
  gap: 50px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0px 23px;
}

.top-movies ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 45px;
}

.top-movies ul li {
  padding-top: 10px;
  height: 257px;
}

.top-movies ul li:hover {
  cursor: pointer;
  /* zoom: 1.05; */
  transform: scale(1.05);
  transition-duration: 400ms;
}

.top-movies ul li .poster {
  border-radius: 15px;
  height: 240px;
}

.top-movies ul li .r1 {
  position: relative;
  z-index: 2;
  transform: translate(-44px, -106px);
}

.reasons-grid-container {
  display: flex;
  width: 74vw;
  margin: auto;
  gap: 15px;
}
.reasons-grid-item {
  position: relative;
  list-style-type: none;
  width: 196px;
  height: 260px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  border-radius: 15px;
  padding: 24px 15px;
  color: white;
}

.reasons-grid-item h3 {
  font-size: 1.25rem;
  padding-bottom: 11px;
}

.reasons-grid-item p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  font-weight: 400;
}
.reasons-grid-item .grid-item-icon img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.reasons-grid-item .grid-item-icon-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.reasons-grid-item .grid-item-icon-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.reasons-grid-item .grid-item-icon-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.faq-grid-container {
  display: grid;
  width: 74vw;
  margin: auto;
  gap: 8px;
}
.faq-grid-item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 1.5rem;
}
.faq-grid-item:hover {
  cursor: pointer;
  background-color: rgb(65, 65, 65);
  transition-duration: 350ms;
}

.bottom-container {
  display: flex;
  width: 67vw;
  margin: auto;
  gap: 35px;
}
.bottom-email {
  width: 44vw;
  background-color: rgba(22, 22, 22, 0.7);
  color: white;
}

.bottom-btn {
  width: 178px;
  height: 55px;
  position: relative;
  transform: translate(-22px, 0px);
}

footer {
  width: 74vw;
  margin: auto;
  padding-bottom: 100px;
}

.questions-number {
  display: flex;
  padding: 2px;
  margin-top: 58px;
  margin-left: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.questions-number a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-grid {
  display: grid;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 36px;
  padding-left: 3px;
  padding-bottom: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.footer-grid-item {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.footer-lang {
  display: flex;
  /* gap: 4px; */
}
.footer-select {
  padding: 5px 23px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.279);
  color: white;
  border: 1px solid gray;
}
.footer-lang img {
  position: relative;
  transform: translate(24px, -1px);
}

@media screen and (max-width: 960px) {
  .main {
    height: 70vh;
  }
  .main .box {
    height: 70vh;
  }

  nav {
    max-width: 90vw;
  }

  nav .logo img {
    width: 100px;
  }

  .text {
    height: 54vh;
  }

  .text .heading {
    max-width: 37vw;
    font-size: 32px;
  }

  .reasons-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    gap: 10px;
  }
  .reasons-grid-item {
    width: 40vw;
    position: relative;
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    max-width: 90vw;
  }

  nav .logo img {
    width: 100px;
  }
  .collapsed{
    width: calc( 90% - 10px)
  }
  .text .heading {
    font-size: 32px;
    max-width: 80vw;
  }
  .text .sub-heading {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 16px;
  }
  .text .caption {
    max-width: 80vw;
  }

  .email {
    width: 70vw;
    margin: auto;
  }

  .started {
    flex-direction: column;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .country-span {
    flex-direction: column;
    width: 90vw;
    gap: 10px;
  }

  .top-movies {
    scale: 0.7;
    width: 120vw;
    margin: auto;
    margin-left: -70px;
  }
  .trending-span {
    width: 90vw;
  }

  .trending-span #movies {
    width: 90vw;
  }

  .reasons-grid-container {
    width: 90vw;
  }
  .reasons-grid-item {
    width: 84vw;
    height: 140px;
    position: relative;
  }
  .reasons-grid-item .grid-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .reasons-grid-item .grid-item-icon-2 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .reasons-grid-item .grid-item-icon-3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .reasons-grid-item .grid-item-icon-4 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .faq-grid-container {
    width: 90vw;
  }
  .faq-grid-item {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .bottom-container {
    flex-direction: column;
    width: 90vw;
    margin: auto;
    align-items: flex-start;
    gap: 10px;
  }

  .bottom-caption {
    width: 90vw;
    margin-left: 5vw;
    text-align: left;
    margin-right: 0;
    color: white;
    padding-bottom: 18px;
  }
  .bottom-email {
    width: 83vw;
    margin: 0;
  }
  .bottom-btn {
    transform: translate(0px, 0px);
  }

  footer{
    width: 90vw;
  }
  .footer-grid{
    grid-template-columns: 1fr;
  }
}
